### https://en.m.wikipedia.org/wiki/List_of_national_capitals

In [1]:
import pandas as pd

In [2]:
url='https://en.m.wikipedia.org/wiki/List_of_national_capitals'

In [4]:
tables=pd.read_html(url)

In [5]:
len(tables)

1

In [8]:
tables[0]

,City/Town,Country/Territory,Notes
0,Abidjan (former capital; still has many govern...,Ivory Coast,NaN
1,Yamoussoukro (official),Ivory Coast,NaN
2,Abu Dhabi,United Arab Emirates,NaN
3,Abuja,Nigeria,Lagos was the capital from 1914 to 1991.
4,Accra,Ghana,NaN
...,...,...,...
260,Windhoek,Namibia,NaN
261,Yaoundé,Cameroon,NaN
262,Yaren (de facto),Nauru,"Nauru has no official capital; however, the go..."
263,Yerevan,Armenia,NaN
264,Zagreb,Croatia,NaN

In [9]:
df=tables[0]

In [12]:
df.to_csv('capital.csv')